/*
	   _____                 __                           .___
	  /     \ ___.__. _______/  |___  _  ______   ____   __| _/
	 /  \ /  <   |  |/  ___/\   __\ \/ \/ /  _ \ /  _ \ / __ |
	/    Y    \___  |\___ \  |  |  \     (  <_> |  <_> ) /_/ |
	\____|__  / ____/____  > |__|   \/\_/ \____/ \____/\____ |
	        \/\/         \/                                 \/

  Made by Joshua (desk@madebyjoshua.com)
*/

@import url('http://fonts.googleapis.com/css?family=Noto+Serif:400,700,400italic,700italic|Roboto:400,400italic,700|Karla:400,400italic,700,700italic');
@import 'bourbon';

// Variables
$base-font-size: 13px;

// Colours
$blue: #06C;
$dark_blue: #000033;
$grey: #333;
$black: #000;
$off_white: #F6F6F6;
$green: #3C0;
$light_green: #C4DF9B;
$light_grey: #999;
$purple: #000033;

// Functions
@function em($target, $context: $base-font-size) {
  @if $target == 0 { @return 0 }
  @return $target / $context + 0em;
}

html {
  background-color: #FFF;
}

body {
  background-color: $off_white;
  font-size: $base-font-size;
  font-family: Karla, $helvetica;
  color: $grey;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Noto Serif", $georgia;
}

h1 {
  color: $purple;
  font-size: em(24px);
  font-weight: normal;
  margin-bottom: em(13px, $base-font-size);
}

h2 {
  color: $purple;
  font-size: em(20px);
  font-weight: normal;
  margin-bottom: em(8px, $base-font-size);
  line-height: 26px;
}

h3 {
  color: #333;
  font-family: inherit;
  font-size: em(16px);
  font-weight: normal;
  margin-bottom: em(12px, $base-font-size);
}

.post-edit-link {
  color: #FF0000;
  border-top: 1px solid #DDD;
  padding-top: 10px;
  margin-top: 10px;
  display: block;
}

a {
  color: $blue;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &.btn {
    background: #EBEBEB;
    height: 21px;
    line-height: 21px;
    display: inline-block;
    text-transform: uppercase;
    padding: 0 8px;
    border-radius: 2px;
    font-size: em(12px);

    &.btn-primary {
      background: $blue;
      width: 127px;
      height: 34px;
      line-height: 34px;
      font-size: em(15px);
      color: #FFF;
      text-transform: uppercase;
      text-align: center;
    }
  }
}

p, ol, ul, blockquote, address {
  line-height: 155%;
  margin-bottom: 1.5em;
}

ul li {
  list-style-type: disc;
}

ol li {
  list-style-type: decimal;
}

.grid_9 ul {
  margin-left: 17px;
}

article footer {
  margin-bottom: 1em;
}

hr {
  border: none;
  border-top: 1px solid #DDD;
  margin: 0 0 2em 0;
}