@import 'base';
@import '960_grid';

#header {
  padding-top: 15px;

  #social-networks {
    position: relative;
    z-index: 2;
    float: right;

    ul {
      margin: 0;

      li {
        float: left;
        margin-left: 12px;

        a {
          display: block;
          width: 20px;
          height: 20px;
          text-indent: -9999px;
        }

        &.facebook a {
          background: url('../images/icon-facebook.png') no-repeat;
        }

        &.twitter a {
          background: url('../images/icon-twitter.png') no-repeat;
        }

        &.email a {
          background: url('../images/icon-email.png') no-repeat;
        }
      }
    }
  }

  hgroup {
    position: relative;
    height: 140px;
  }

  h1 {
    position: absolute;
    top: 9px;
    left: 0;

    a {
      background: url('../images/logo.png') no-repeat;
      width: 383px;
      height: 105px;
      display: block;
      text-indent: -9999px;
    }
  }

  h2 {
    position: absolute;
    top: 60px;
    right: 0;
    margin: 0;
    font-size: em(21.68px);
    color: $light_grey;
    text-transform: uppercase;
  }

  #main-menu {
    height: 38px;
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
    margin-bottom: 34px;
    font-family: Roboto, inherit;

    ul {
      margin: 0;

      li {
        float: left;
        list-style: none;

        a {
          display: block;
          height: 38px;
          line-height: 38px;
          text-transform: uppercase;
          font-size: em(14px);
          color: $grey;
          text-decoration: none;
          padding: 0 13px 0 14px;

          &:hover {
            background-color: #FFF;
          }
        }

        &.current-menu-item a {
          background-color: #FFF;
        }
      }
    }
  }
}

#carousel {
  position: relative;
  height: 529px;
  margin-bottom: 38px;

  #carousel-controls {
    position: absolute;
    margin: 0;
    width: 940px;
    z-index: 1;

    li {
      position: absolute;
      top: 175px;
      list-style: none;

      &.prev {
        left: 0;

        a {
          background: url('../images/carousel-controls.png') -120px 0px no-repeat;
        }
      }

      &.next {
        right: 0;

        a {
          background: url('../images/carousel-controls.png') 0px 0px no-repeat;
        }
      }
    }

    a {
      display: block;
      width: 120px;
      height: 167px;
      text-indent: -9999px;

      &:active {
        margin-top: 2px;
      }
    }
  }

  #carousel-pager {
    @include position(absolute, 0 0 33px 57px);
    margin: 0;
    z-index: 1;

    li {
      float: left;
      margin-right: 8px;
      list-style: none;

      a {
        background: url('../images/carousel-pager-icon.png') no-repeat;
        display: block;
        width: 9px;
        height: 9px;
        text-indent: -9999px;

        &:active {
          margin-top: -2px;
        }
      }

      &.current a {
        background: url('../images/carousel-pager-icon.png') 0px -9px no-repeat;
        cursor: default;

        &:active {
          margin-top: 0;
        }
      }
    }
  }

  #carousel-buttons {
  	@include position(absolute, 0 0 34px 594px);
    width: 320px;
    margin: 0;
    z-index: 1;

    li {
      float: left;
      margin-left: 14px;
      list-style: none;
    }

    .btn {
      background: #FFF;
      width: 127px;
      height: 34px;
      line-height: 34px;
      font-size: em(15px);
      text-align: center;
    }
  }

  #carousel-items {
    position: absolute;

    .item {
      position: absolute;
      width: 940px;
      height: 529px;
      display: none;

      &.first-child {
        display: block;
      }
    }
  }
}

#specials {
  background: #FBFBFB;
  padding-top: 36px;
  border-top: 1px solid #FFF;

  .grid_4 {
    margin-bottom: 40px;
  }

  p {
    margin-bottom: 10px;

    &.disclaimer {
      font-size: em(10px);
    }
  }

  #our-packages {

    img {
      margin-bottom: 15px;
      margin-left: 30px;
    }

    p {
      width: 130px;
      margin-bottom: 20px;
    }
  }

  #enquire-now {

    address {

      p {
        float: left;
        width: 134px;
        margin-right: 9px;
      }

      .btn {
        color: $green;
        float: left;
        margin-top: 4px;
      }
    }

    ol {

      li {
        padding-left: 30px;
        height: 21px;
        margin-bottom: 10px;
        list-style: none;

        a {
          color: $grey;
          height: 21px;
          display: block;

          &:hover {
            color: $blue;
          }
        }

        &.email {
          background: url('../images/s-icon-email.png') 0px 3px no-repeat;
        }

        &.phone {
          background: url('../images/s-icon-phone.png') 0px 0 no-repeat;
        }

        &.facebook {
          background: url('../images/s-icon-facebook.png') 0px 3px no-repeat;
        }

        &.twitter {
          background: url('../images/s-icon-twitter.png') 0px 3px no-repeat;
        }
      }
    }
  }
}

.home {

	#specials h2 a {
		color: $purple;
	}
}

#container {
  margin-bottom: 50px;

  #search-results {

    .clearfix {
      width: 100%;
      h1 { float: left; }
      form { float: right; }
    }

    article {
      padding: 20px 0 20px 20px;
      border-bottom: 1px solid #DDD;

      &:nth-child(+2n) {
        background: #FBFBFB;
      }

      p {
        margin-bottom: 0;
      }
    }
  }

  #banner {
    position: relative;
    margin-bottom: 40px;

    ul {
      @include position(absolute, 0 30px 30px 0);
      margin: 0;

      li {
        float: left;
        margin-left: 20px;

        .btn {
          background: #FFF;
          width: 128px;
          height: 34px;
          line-height: 34px;
          font-size: em(15px);
          text-align: center;
        }
      }
    }
  }

  .tariff {
    background: #FFF;
    padding: 24px 0;
    text-align: center;
    height: 230px;
    position: relative;

    .price {
      font-size: em(55px);
      font-family: Karla, inherit;
      color: $blue;
      margin-bottom: 0;
      line-height: normal;
      letter-spacing: -4px;

      sup {
        font-size: em(20px, 55px) !important;
        display: inline-block;
        @include position(relative, -20px 0 0 -3px);
      }
    }

    .disclaimer {
      font-size: em(11px);
    }

    .availability {
      font-size: em(11px);
      color: #666;
      border-top: 1px solid #EBEBEB;
      padding-top: 15px;
    }

    .btn {
      @include position(absolute, 0 0 24px 50%);
      margin-left: -72px;
    }
  }
}

#footer {
  background: #FFF;
  height: 33px;
  padding-top: 20px;

  a {
    color: $grey;
  }

  p {
    text-transform: uppercase;
    font-size: em(11px);

    &.tagline {
      text-align: right;
    }
  }
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
  display: inline-block;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}